# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log

# Exclude sensitive variables files
*.tfvars
*.tfvars.json

# Ignore override files typically used for local customization
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform CLI configuration files
.terraformrc
terraform.rc

# Ignore the directory containing provider binaries
**/.terraform/*
